<script>
    function renderFeatured() {
        // Seleted featured list
        featuredListOfEvents = [];

        let featuredList = JSON.parse(localStorage.getItem("featuredList"));
        if (featuredList == null) return;

        for(let i = 0; i < listOfEventsCopy.length; i++) {
          for (let j in featuredList) {
            let id;
            if (listOfEventsCopy[i].isManuallyAdded) {
              id = listOfEventsCopy[i].uuid;
            } else {
              id = listOfEventsCopy[i].linkToOriginalPost;
            }
            if (id == featuredList[j]) {
                // console.log(listOfEventsCopy[i]);
              featuredListOfEvents.push(listOfEventsCopy[i]);
              break;
            }
          }
        }
        // console.log(featuredListOfEvents);

        // render featured list
        let newList = document.createElement('div');
        newList.className = "row justify-content-center";

        for (let i = 0; i < featuredListOfEvents.length; i++) {
          
          function getTicketContainer() {
            // create ticket
            if (!featuredListOfEvents[i].ticket) return "<!-- no tickets -->";
            // let outerTicketDiv = document.createElement('div');
            let ticketContainer = 
            `
            <a href="${featuredListOfEvents[i].ticketLink}" class="text-decoration-none" >
              <h5 class="text-dark bg-warning">Tickets available here</h5>
            </a>
            `
            // outerTicketDiv.innerHtml = ticketContainer;
            return ticketContainer;
          }

          function getCategoryContainer() {
            let outerCategoryDiv = document.createElement('div');
            let categoryContainer = document.createElement('div');
            categoryContainer.className = "mb-1";

            for (let c = 0; c < featuredListOfEvents[i].category.length; c++) {
              let element = document.createElement('button');
              element.classList.add("text-light", "bg-dark", "border", "rounded", "p-1", "category-btn");
              element.innerHTML = featuredListOfEvents[i].category[c];

              categoryContainer.appendChild(element);
            }
            outerCategoryDiv.appendChild(categoryContainer);
            return outerCategoryDiv.innerHTML;
          }

          function getOrganizationContainer() {
            // create organization
            let outerOrganizationDiv = document.createElement('div');
            let organizationContainer = document.createElement('h5');
            organizationContainer.className = "organization-name";
            organizationContainer.innerHTML += "Organization: "
            for (let j = 0; j < featuredListOfEvents[i].organizationInfo.length; j++) {
              let element = document.createElement('a');
              element.setAttribute('href', featuredListOfEvents[i].organizationInfo[j].link);
              element.className = "organization-link";
              element.innerHTML = featuredListOfEvents[i].organizationInfo[j].name;

              organizationContainer.appendChild(element);
              organizationContainer.innerHTML += ", ";
            }
            outerOrganizationDiv.appendChild(organizationContainer);
            return outerOrganizationDiv.innerHTML;
          }

          function getImageContainer() {
            let outerImageDiv = document.createElement('div');
            let imageContainer = document.createElement('img');
            imageContainer.classList.add("img-fluid", "w-100", "rounded");
            imageContainer.alt = "Image";
            if (featuredListOfEvents[i].isManuallyAdded) { 
              let buf = buffer.Buffer.from((featuredListOfEvents[i].image.data)).toString('base64');
              imageContainer.src = `data:image/${featuredListOfEvents[i].image.contentType};base64,${buf}`;
            } else {
              imageContainer.src = featuredListOfEvents[i].image;
            }
            outerImageDiv.appendChild(imageContainer);
            return outerImageDiv.innerHTML;
          }

          function getTime() {
            let outerTimeDiv = document.createElement('div');
            let timeContainer = document.createElement('h4');
            timeContainer.classList.add("text-danger");
            
            timeContainer.innerText = featuredListOfEvents[i].dateTime;
            if (featuredListOfEvents[i].endTime) {
              timeContainer.innerText += " – " + featuredListOfEvents[i].endTime;
            }

            outerTimeDiv.appendChild(timeContainer);
            return outerTimeDiv.innerHTML;
          }

          newList.innerHTML += 
          `
            <div class="container card shadow my-3">
              <div class="row">
                <!-- Img/Category -->
                <div class="col-12 col-sm-4 my-2">
                  ${getCategoryContainer()}
                  ${getImageContainer()}
                </div>
                <!-- Content -->
                <div class="col-12 col-sm-8 my-2 d-flex flex-column pt-4">
                  <!-- Tickets -->
                  ${getTicketContainer()}
                  <!-- Time -->
                  <h4 class="text-danger">${getTime()}</h4>
                  <!-- Title -->
                  <h3 class="fw-bold">
                    <a href="${featuredListOfEvents[i].linkToOriginalPost}" class="link-to-original-post" >
                      ${featuredListOfEvents[i].title}
                    </a>
                  </h3>
                  <!-- Location -->
                  <h4>${featuredListOfEvents[i].address}</h4>   
                  <!-- Event By -->
                  <h6>Event by: ${featuredListOfEvents[i].eventBy}</h6>     
                  <!-- Button Container -->
                  <div class="button-container mt-auto">
                    <!-- Expand Button -->
                    <div class="event-btn">
                      <button type="button" class="btn btn-primary text-light m-1 px-3 fit-btn" onclick="expandEventFeatured(${i})">
                        <i class="bi bi-arrows-expand"></i> Expand
                      </button>
                    </div>
                    <!-- Share Button -->
                    <div class="btn-group event-btn">
                      <button type="button" class="btn btn-primary dropdown-toggle fit-btn" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-share-fill"></i> Share
                      </button>
                      <ul class="dropdown-menu share-dropdown shadow-lg">
                        <li><a href="https://www.facebook.com/sharer.php?u=${featuredListOfEvents[i].linkToOriginalPost}" target="_blank" class="facebook-btn"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/share?url=${featuredListOfEvents[i].linkToOriginalPost}&text=${featuredListOfEvents[i].title}: " target="_blank" class="twitter-btn"><i class="bi bi-twitter"></i></a></li>
                        <li><a onclick="copyToClipboard('${featuredListOfEvents[i].linkToOriginalPost}')" class="clipboard-url"><i class="bi bi-clipboard"></i></a></li>
                      </ul>
                    </div>
                    <!-- Featured Button -->
                    <div class="event-btn">
                      <button type="button" class="btn btn-danger pin-btn-featured text-light m-1 px-3 fit-btn" value="unpin" onclick="removeFeatured(${i})">
                        <i class="bi bi-pin-angle-fill"></i> Unpin 
                      </button>
                    </div>
                  </div>
                  <!-- End Button Container -->
                </div>
              </div>
              <!-- Extra Info -->
              <div class="row align-items-center extra-info-featured" style="display:none;">
                <!-- Organization -->
                ${getOrganizationContainer()}
                <!-- Description -->
                <p>Description: ${featuredListOfEvents[i].description}</p>
              </div>
              <!-- End Extra Info -->
            </div>
          `
        }
        $("#featured-container").html(newList);
      }
</script>