/*  */

body,
#list-container,
#featured-container {
  background-color: #fafafa;
  transition: all 0.5s linear;
}

img {
  max-height: 200px;
  width: auto;
}

/* Form required */
.form-group.required .form-label:after {
  content: "*";
  color: red;
}

/* Admin page url styles */
.url {
  border: none;
  width: 100%;
}

.url-index {
  display: none;
}

/* Style for category tag */
.category-btn {
  pointer-events: none;
}

/* horizontal drop down for shares */
.dropdown-menu > li {
  display: inline-block;
}

/* buttons */
.button-container {
  display: flex;
  justify-content: space-evenly;
}

.event-btn {
  display: inline;
  height: 40px;
}
.fit-btn {
  margin: 0 !important;
  height: 100%;
}

/* share buttons */
.share-dropdown {
  min-width: 150px;
}

.clipboard-url:hover {
  cursor: pointer;
}

.bi-twitter,
.bi-facebook,
.bi-clipboard {
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
}

.bi-twitter {
  color: #1da1f2;
}

.bi-facebook {
  color: #3b5998;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
